### 수집과 분석 
* 수집
* 분석
* ***저장***
* ~~머신러닝~~
  * alt + enter = cell 실행 + cell 추가
  * ctl + enter = cell 실행
  * shift + enter = cell 실행 + 커서 아래로 ( 하위 셀이 없다면 추가도 해줌 )
* [jupyter equation](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Typesetting%20Equations.html)  
* This site was built using [GitHub Pages](https://pages.github.com/).

Text that is not a quote

> Text that is a quote

\begin{equation*}
\left( \sum_{k=1}^n a_k b_k \right)^2 \leq \left( \sum_{k=1}^n a_k^2 \right) \left( \sum_{k=1}^n b_k^2 \right)
\end{equation*}

\begin{gather*}
a_1=b_1+c_1\\
a_2=b_2+c_2-d_2+e_2
\end{gather*}

| This | is   |
|------|------|
|   a  | table|

In [ ]:
lang = 'python'
value = 100
myStr = '{} {} 언어'.format(lang, value)
myStr

In [ ]:
myStr2 = f'{lang} {value} 언어'
myStr2

In [ ]:
val = 56784949494
format_val = f'{val:,}'
format_val

In [ ]:
val = 24737.1234
format_val = f'{val:.2f}'
format_val

In [ ]:
## dict 연습
# empty dict 생성
my_dict2 = {}
my_dict1 = dict()
  
my_dict = {
    'name': '파이썬'
}
# addr item 추가
my_dict['addr'] = '서울'
print(my_dict)
print(my_dict['name'])
#print(my_dict['name2']) KeyError 발생
val = my_dict.get('name2')
if val:
    print(val)
else:
    print('요청하신 Key가 없습니다.')   
    
if val is None:
    print('요청하신 Key가 없습니다.')

In [ ]:
for k in my_dict.keys():
    print(k,my_dict[k])
    
for k,v in my_dict.items():
    print(k, v)

In [ ]:
# empty list 생성
my_list = list() # []
my_list.append('a')

odd_list = [1,3,5]
my_list.extend(odd_list)
my_list

In [ ]:
# 함수에서 tuple을 반환
def swap(a,b):
    #() tuple
    return (b,a)

In [ ]:
(n1,n2) = swap(10,20)
print(n1)
print(n2)

In [ ]:
# unpacking
n1,n2 = [100,200]
print(n1)
print(n2)

### List Comprehension
* [Code Style](https://docs.python-guide.org/writing/style/)
* [Pythonic Code](https://nunenuh.medium.com/how-to-write-pythonic-code-e19b1562fd5)

In [ ]:
squares = []
for i in range(10): #0~9
    if i % 2 == 0:
        squares.append(i * i)

print(squares)

In [ ]:
# list comprehension

squares2 = [i*i for i in range(10) if i % 2 == 0]
squares2

In [ ]:
'H e l l o'.split(' ') # str -> list

In [ ]:
def get_text_list():
    lists = []
    with open('data/yesterday.txt', 'r',encoding="utf8") as file:
        contents = file.read()
        lists = contents.split("\n")

    return lists

In [ ]:
lyric_list = get_text_list()
print(len(lyric_list))
lyric_list

In [ ]:
# list comprehension
lyric_list2 = [lyric for lyric in lyric_list if len(lyric) != 0]
print(len(lyric_list2))

In [ ]:
my_list = ['a','b','c']
my_list[0:2]

In [ ]:
my_list[2:]

In [ ]:
my_list[:2]

In [ ]:
import re

text = "제 번호는 010-1234-5678이고, 친구 번호는 010-9876-5432입니다."
pattern = r"\d{3}-\d{4}-\d{4}"

phones = re.findall(pattern, text)
print(phones)  # ['010-1234-5678', '010-9876-5432']

In [ ]:
# range() 함수의 결과값은 Iterable 하지 않음
range(10)

In [ ]:
import numpy as np
# range() 함수와는 다르게 arange() 함수는 Iterable 객체를 생성한다.
np.arange(10)

In [ ]:
# range() 와 numpy의 arange() 함수 비교
# range() 함수의 결과값은 Iterable 하지 않기 때문에 list() 함수로 wrapping
print(list(range(10)))

for data in range(10):
    print(data)

In [ ]:
import numpy as np

np.arange(1,11)

In [ ]:
#lambda x, loc: "{:,}".format(int(x)
def my_format(val):
    #return "{:,}".format(int(val))
    return f"{int(val):,}"

In [ ]:
my_format("1028326272727")

In [ ]:
result = lambda val: f"{int(val):,}"
    #"{:,}".format(int(val))

In [ ]:
result("38383823823940")

In [ ]:
# () tuple : 추가로 값을 추가할 수 없음
my_tuple = (10,20,10,30)
my_tuple.count(10)

In [ ]:
dt_list=['이름','취미','나이']
dd_list=['파이썬','독서','20']
zip(dt_list,dd_list)

In [ ]:

for data in zip(dt_list,dd_list):
    print(type(data)) # ('이름','파이썬')
    print(data[0],data[1])

In [ ]:
dict(zip(dt_list,dd_list))

In [ ]:
#age = today.year - birth.year - ((today.month, today.day) < (birth.month, birth.day))
#calc_age(date(1990,1,1))   calc_age(date(1990,12,17)
(12,15) < (1,1)  # False0

In [ ]:
(12,15) < (12,17) # True 1

In [ ]:
print('meta 데이터 출력 No')

In [ ]:
print('meta 데이터 출력되지 않도록하기')